*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #3d3d3d;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: inline-block;
}

button {
  padding: 0.3em 1em;
  border: 1px solid deepskyblue;
  background-color: white;
  color: #3d3d3d;
  font-weight: 700;
  border-radius: 50px;
}
button:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

header {
  width: 100%;
  background-color: darkseagreen;
  padding: 0.5em;
}

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  max-width: 1000px;
  color: white;
  margin: 0 auto;
}

header,
img {
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.5);
}

header img {
  height: 30px;
  width: auto;
  display: block;
}

header span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5rem;
}

footer {
  margin: auto 0 0 0;
  width: 100%;

  background-color: #ebebeb;
  font-weight: 800;
}

footer span {
  font-style: italic;
}

footer a {
  color: rgb(95, 149, 204);
  text-decoration: none;
}
footer a:visited {
  text-decoration: grey;
}
footer a:hover {
  color: dodgerblue;
  text-decoration: underline;
}
